@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  background-color: #121212;
}

#root > div {
  display: flex;
  height: 100vh;
}

.header-centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  margin: 0;
}

.left-scene {
  flex: 0 0 60%;
  position: sticky;
  display: flex;
  flex-direction: column;

  .form-search {
    padding-left: 24px;
    border: 1px solid black;
    border-radius: 4px;
    font-size: 32px;
    height: 64px;
    box-shadow: none;
    &:focus {
      box-shadow: none;
    }
  }

  &:before {
    background: linear-gradient(143deg, rgba(137,71,250,1) 0%, rgba(110,109,238,1) 35%, rgba(0,212,255,1) 100%);
    padding: 8px 8px;
    width: 64px;
    height: 64px;
    border: 1px solid black;
    border-radius: 8px;
    content: '\f002';
    position: absolute;
    top: 24px;
    left: 42px;
    font-family: FontAwesome;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .selected-gif {
    text-align: center;
    display: flex;
    flex-grow: 1;
    height: calc(100vh - 232px);
    .gif {
      max-width: 80%;
      max-height: 80%;
      margin: auto;
    }
  }
}

.right-scene {
  flex: 0 0 40%;
  background-color: #ecf0f1;
  overflow: scroll;

  .gif-list {
    column-count: 2;
    column-gap: 5px;
    padding: 5px;

    .gif {
      width: 100%;
      margin: 5px;
      cursor: pointer;
    }
  }
}

.clicked {
  color: red;
}

input {
  margin-top: 24px;
  margin-left: 112px;
  margin-right: 45px;
  height: 64px;
  font-size: 24px;
}
